<%= form_for(@child, :html => {:multipart => true}) do |f| %>
  <% if @child.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@child.errors.count, "error") %> prohibited this patient from being saved:</h2>

      <ul>
      <% @patient.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :ovc_id %><br />
    <%= f.text_field :ovc_id %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :contact_no %><br />
    <%= f.text_field :contact_no %>
  </div>
  <div class="field">
    <%= f.label :age %><br />
    <%= f.text_field :age %>
  </div>
  <div class="field">
    <%= f.label :sex %><br />
    <%= f.text_field :sex %>
  </div>
  <div class="field">
    <%= f.label :hiv_status %><br />
    <%= f.text_field :hiv_status %>
  </div>
  <div class="field">
    <%= f.label :weight %><br />
    <%= f.text_field :weight %>
  </div>
  <div class="field">
    <%= f.label :treatment_code_of_parent %><br />
    <%= f.text_field :treatment_code_of_parent %>
  </div>
  <div class="field">
    <%= f.label :treatment_type %><br />
    <%= f.text_field :treatment_type %>
  </div>
  <div class="field">
    <%= f.label :support_group %><br />
    <%= f.text_field :support_group %>
  </div>
  <div class="field">
    <%= f.label :location %><br />
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :school %><br />
    <%= f.text_field :school %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
