<%= form_for(@patient, :html => {:multipart => true}) do |f| %>
  <% if @patient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@patient.errors.count, "error") %> prohibited this patient from being saved:</h2>

      <ul>
      <% @patient.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :telephone %><br />
    <%= f.text_field :telephone %>
  </div>
  <div class="field">
    <%= f.label :age %><br />
    <%= f.text_field :age %>
  </div>
  <div class="field">
    <%= f.label :sex %><br />
    <%= f.text_field :sex %>
  </div>
  <div class="field">
    <%= f.label :treatment %><br />
    <%= f.text_field :treatment %>
  </div>
  <div class="field">
    <%= f.label :source %><br />
    <%= f.text_field :source %>
  </div>
  <div class="field">
    <%= f.label :plhiv_code %><br />
    <%= f.text_field :plhiv_code %>
  </div>
  <div class="field">
    <%= f.label :plhiv_name %><br />
    <%= f.text_field :plhiv_name %>
  </div>
  <div class="field">
    <%= f.label :support_group %><br />
    <%= f.text_field :support_group %>
  </div>
  <div class="field">
    <%= f.label :weight %><br />
    <%= f.text_field :weight %>
  </div>
  <div class="field">
    <%= f.label :treatment_code %><br />
    <%= f.text_field :treatment_code %>
  </div>
  <div class="field">
    <%= f.label :occupation %><br />
    <%= f.text_field :occupation %>
  </div>
  <div class="field">
    <%= f.label :marital_status %><br />
    <%= f.text_field :marital_status %>
  </div>
  <div class="field">
    <%= f.label :children %><br />
    <%= f.text_field :marital_status %>
  </div>
  <div class="field">
    <%= f.label :line_of_treatment %><br />
    <%= f.text_field :line_of_treatment %>
  </div>
  <div class="field">
    <%= f.label :next_of_kin_contact %><br />
    <%= f.text_field :next_of_kin_contact %>
  </div>
  <div class="field">
    <%= f.label :disclosed_status %><br />
    <%= f.text_field :disclosed_status %>
  </div>
  <div class="field">
    <%= f.label :transfer_in %><br />
    <%= f.text_field :transfer_in %>
  </div>
  <div class="field">
    <%= f.label :transfer_out %><br />
    <%= f.text_field :transfer_out %>
  </div>
  <div class="field">
    <%= f.label :co_infected %><br />
    <%= f.text_field :co_infected %>
  </div>
  <div class="field">
    <%= f.label :treatment_default %><br />
    <%= f.text_field :treatment_default %>
  </div>
  <div class="field">
    <%= f.label :type_of_service_received %><br />
    <%= f.text_field :type_of_service_received %>
  </div>
 
  <div class="field">
    <%= f.label "Upload Picture" %><br />
    <%= f.file_field :picture %>
  </div> 

  <%= image_tag @patient.picture.url unless @patient.picture.url.blank? %>
  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
