<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @patient.name %>
</p>

<p>
  <b>Address:</b>
  <%= @patient.address %>
</p>

<p>
  <b>Telephone  Number:</b>
  <%= @patient.telephone %>
</p>

<p>
  <b>Age:</b>
  <%= @patient.age %>
</p>

<p>
  <b>Sex:</b>
  <%= @patient.sex %>
</p>

<p>
  <b>Treatment:</b>
  <%= @patient.treatment %>
</p>

<p>
  <b>Source:</b>
  <%= @patient.source %>
</p>

<p>
  <b>PLHIV Code:</b>
  <%= @patient.plhiv_code %>
</p>

<p>
  <b>PLHIV Name:</b>
  <%= @patient.plhiv_name %>
</p>

<p>
  <b>Support Group:</b>
  <%= @patient.support_group %>
</p>

<p>
  <b>Weight:</b>
  <%= @patient.weight %>
</p>

<p>
  <b>Treatment Code:</b>
  <%= @patient.treatment_code %>
</p>

<p>
  <b>Occupation:</b>
  <%= @patient.occupation %>
</p>

<p>
  <b>Marital Status:</b>
  <%= @patient.marital_status %>
</p>

<p>
  <b>Children:</b>
  <%= @patient.children %>
</p>

<p>
  <b>Line of Treatment:</b>
  <%= @patient.line_of_treatment %>
</p>

<p>
  <b>Next of Kin/Contact:</b>
  <%= @patient.next_of_kin_contact %>
</p>

<p>
  <b>Disclosed Status:</b>
  <%= @patient.disclosed_status %>
</p>

<p>
  <b>Transfer In:</b>
  <%= @patient.transfer_in %>
</p>

<p>
  <b>Transfer Out:</b>
  <%= @patient.transfer_out %>
</p>

<p>
  <b>Co Infected:</b>
  <%= @patient.co_infected %>
</p>

<p>
  <b>Treatment Default:</b>
  <%= @patient.treatment_default %>
</p>

<p>
  <b>Type of Service Received:</b>
  <%= @patient.type_of_service_received %>
</p>

<p>
  <b>Deceased:</b>
  <% if @patient.deceased.isblank? || @patient.deceased = "0"%> 
      <%= 'N' %>
    <% else %>
      <%= 'Y' %>
  <% end %>
</p>

<%= image_tag @patient.picture.url unless @patient.picture.url.blank? %><br />

