<!DOCTYPE html>
<html>
<head>
  <title>Nethips Patient Database</title>
  <%= include_stylesheets :application %>
  <%= include_javascripts :application %>
  <%= csrf_meta_tag %>
</head>
<body>
  <% if current_user %>
    <%= link_to "Adults", patients_path %> |
    <%= link_to "Children", children_path %> |
    <%= link_to "Download Adults as Excel", patients_path(:format => :xls) %> |
    <%= link_to "Download Children as Excel", children_path(:format => :xls) %> |
    <%= link_to "Sign Out", destroy_user_session_path, :method => :delete %>
    <% if current_user.admin %>
      |
      <%= link_to "Users", users_path %> 
    <% end %>
  <% end %>
  <br /> <br />
  <%= yield %>

</body>
</html>
